# Dependencies
node_modules/

# Build output
build/
dist/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# React-specific
coverage/
public/*.map
